<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  // Highlight changes in form inputs
  $(document).on('input', '.form-control', function(event) {
    $(this).addClass('bg-dark text-white');
  });

  // Insert a form
  $('#insert').on('click', function(event) {
		$(this).before($(`
      <form class="form-inline">
        <select name="course" class="form-control form-control-sm m-1">
          <option selected disabled hidden value=""></option>
          <%_ for (const course of courseIDs) { -%>
            <option value="<%= course -%>"><%= course -%></option>
          <%_ } -%>
        </select>
        <select name="day" class="form-control form-control-sm m-1">
          <option selected disabled hidden value=""></option>
          <%_ for (const day of days) { -%>
            <option value="<%= day -%>"><%= day -%></option>
          <%_ } -%>
        </select>
        <input type="time" name="time" class="form-control form-control-sm m-1">
        <input type="text" name="instructor" class="form-control form-control-sm m-1">
        <button class="create btn btn-sm btn-primary m-1">Save</button>
        <button class="uninsert btn btn-sm btn-primary m-1">Delete</button>
      </form>
		`));
  });

  // Un-insert a form
  $(document).on('click', '.uninsert', function(event) {
    $(this).closest('form').remove();
    event.preventDefault();
  });

  // Create a section
  $(document).on('click', '.create', function(event) {
    const form = $(this).closest('form');
    event.preventDefault();
    $.ajax({method: 'post', url: '/sections', data: form.serialize()})
      .done(function(id) {
        form.attr('id', id);
        form.find('.create').removeClass('create').addClass('update');
        form.find('.uninsert').removeClass('uninsert').addClass('delete');
        form.find('.form-control').removeClass('bg-dark text-white');
      })
      .fail(error => alert(error.responseText));
	});

  // Update a section
  $(document).on('click', '.update', function(event) {
    const form = $(this).closest('form');
    event.preventDefault();
    $.ajax({method: 'put', url: `/sections/${form.attr('id')}`, data: form.serialize()})
      .done(() => form.find('.form-control').removeClass('bg-dark text-white'))
      .fail(error => alert(error.responseText));
  });

  // Delete a section
  $(document).on('click', '.delete', function(event) {
    const form = $(this).closest('form');
    event.preventDefault();
		$.ajax({method: 'delete', url: `/sections/${form.attr('id')}`})
			.done(() => form.remove())
      .fail(error => alert(error.responseText));
	});

</script>
