<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">CATALOG</h1>
  <nav class="navbar-nav ml-3">
    <a href="/courses" class="nav-item nav-link <%= active === 'courses' ? 'active' : 'inactive' -%>">Courses</a>
    <a href="/sections" class="nav-item nav-link <%= active === 'sections' ? 'active' : 'inactive' -%>">Sections</a>
  </nav>
</header>
