<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">COVID-19 Dashboard</h1>
  <nav class="navbar-nav ml-3">
    <a href="/latest" class="nav-item nav-link <%= (active === 'latest') ? 'active' : 'inactive' -%>">Latest Info</a>
    <a href="/statistics" class="nav-item nav-link <%= (active === 'statistics') ? 'active' : 'inactive' -%>">Statistics</a>
    <a href="/qas" class="nav-item nav-link <%= (active === 'qas') ? 'active' : 'inactive' -%>">Q&A</a>
  </nav>
  <nav class="navbar-nav ml-auto">
    <h3>Together at home</h3>
   <%_ if (admin) { -%>
     <a href="/logout" class="nav-item nav-link">Logout</a>
   <%_ } else { -%>
     <a href="/login" class="nav-item nav-link">Login</a>
   <%_ } -%>
 </nav>
</header>
