<header class="navbar navbar-expand navbar-dark bg-dark">
  <h1 class="navbar-brand">COVID-19 Dashboard</h1>
  <nav class="navbar-nav ml-3">
    <a href="/county" class="nav-item nav-link <%= (active === 'county') ? 'active' : 'inactive' -%>">Counties</a>
    <a href="/QA" class="nav-item nav-link <%= (active === 'QA') ? 'active' : 'inactive' -%>">Q&A</a>
  </nav>
</header>
