<h2><%= course.title -%></h2>
<p><%= course.description -%></p>
<%_ if (course.prereqs.length > 0) { -%>
  <p>Prereqs:</p>
  <ul>
    <%_ for (const prereq of course.prereqs) { -%>
      <li><a href="/courses/<%= prereq -%>"><%= prereq -%></a></li>
    <%_ } -%>
  </ul>
<%_ } -%>
