<div class="container-fluid">
  <div class="col">
    <div class="col-auto p-3 border-right">
      <h1>Q&A</h1>
      <div class="row">
        <form class="form-inline">
            <input type="text" name="question" placeholder="Question"  class="form-control form-control-lg font-weight-bold mb-1">
            <button class="btn btn-primary create">Save</button>
        </form>

        <form action='/qas' class="form-inline pull-right">
          <input type="text"  name="keyword" placeholder="Question">
          <button>Search</button>
        </form>

      </div>
      <nav class="nav nav-pills flex-column">

       <h2>Answerd Question</h2>
        <%_ for (const qa of qas) { -%>
          <h2><%= qa.question -%></h2>
          <p><%= qa.answer -%></p>
          <%_ } -%>

        </nav>
      </div>
    </div>





  </div>
