<div>
    <div class="container-fluid content-row">
      <div class="row" style="margin-bottom: 10px;">

        <form class="col">
            <input class="form-control" type="text" id="search"name="question" placeholder="Ask a Question">
            <button class="create btn btn-primary"  [disabled]="#search === ''">Save</button>
            <span class="success" style="display: none;">Question submitted!</span>
        </form>
        <form action='/qas' class="col">
          <input type="text" class="form-control" name="keyword" value="<%=keyword-%>" placeholder=" search by keyword ">
          <button class=" btn btn-primary" id="searchbtn">Search</button>
          <a href="/qas" class=" btn btn-primary"  id="allq">see all Question</a>
          <div id="seachresult">
          </div>

        </form>

      </div>
    </div>

        <nav class="nav nav-pills flex-column">

            <div class="container-fluid content-row">
            <%_ if(keyword){ -%>
              <div >
                <h4>Search Result for keyword : <%=keyword-%></h4>
              </div>

          <%_ } -%>
          </div>

      </nav>



      <div class="container-fluid content-row">
        <div class="row">
          <%_ for (const qa of qas) { -%>
            <%_ if (qa.answer) { -%>
              <div class="col-sm-12 col-lg-6">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title"><%= qa.question -%></h5>
                    <p class="card-text"><%= qa.answer -%></p>
                  </div>
                </div>
              </div>
            <%_ } -%>
          <%_ } -%>

      </div>
      </div>


  </div>
