<div class="container-fluid">
  <div class="col">
    <div class="col-auto p-3 border-right">
      <div class="row">
        <form class="col-md-6">
            <input type="text" id="search"name="question" placeholder="Ask a Question">
            <button class="create" [disabled]="#search === ''">Save</button>
            <span class="success" style="display: none;">Question submitted!</span>
        </form>

        <form action='/qas' class="col-md-6" align="right">
          <input type="text"  name="keyword" placeholder="enter keyword to search answerd question">
          <button>Search</button>
        </form>

      </div>
        <nav class="nav nav-pills flex-column">
          <div class="row">
          <%_ for (const qa of qas) { -%>
            <%_ if (qa.answer!=null) { -%>
                <div class="col-sm-6">
                  <div class="card">
                    <h3><%= qa.question -%></h3>
                  </div>
                  <div class="card">
                    <p><%= qa.answer -%></p>
                  </div>
                </div>
          <%_ } -%>
        <%_ } -%>
        </div>
        </nav>
      </div>
    </div>





  </div>
