<div class="container-fluid">
  <div class="col">
    <div class="col-auto p-3 border-right">
      <div class="row">
        <form class="col-md-6">
            <input type="text" name="question" placeholder="Ask a Question">
            <button class="create">Save</button>
        </form>

        <form action='/qas' class="col-md-6" align="right">
          <input type="text"  name="keyword" placeholder="enter keyword to search answerd question">
          <button>Search</button>
        </form>

      </div>
      <nav class="nav nav-pills flex-column">

        <%_ for (const qa of qas) { -%>
            <h3><%= qa.question -%></h3>
            <p><%= qa.answer -%></p>

        <%_ } -%>

        </nav>
      </div>
    </div>





  </div>
