<div class="container-fluid">
  <div class="col">
    <div class="col-auto p-3 border-right">
      <div class="row" style="margin-bottom: 10px;">
        <form class="col-md-6 text-center">
            <input class="form-control" type="text" id="search"name="question" placeholder="Ask a Question">
            <button class="create" align="center" [disabled]="#search === ''">Save</button>

            <span class="success" style="display: none;">Question submitted!</span>
        </form>
        <form action='/qas' class="col-md-6" align="right">
          <input type="text"  name="keyword" placeholder=" keyword ">
          <button id="search">Search</button>
          <nav></nav>

        </form>

      </div>
        <nav class="nav nav-pills flex-column">
          <div class="row">
          <%_ for (const qa of qas) { -%>
            <%_ if (qa.answer!=null) { -%>
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-title"><%= qa.question -%></h5>
                    <p class="card-text"><%= qa.answer -%></p>
                  </div>
                </div>
              <%_ } -%>
        <%_ } -%>

        </nav>
      </div>
    </div>





  </div>
