<div class="container-fluid">
  <div class="col">
    <div class="col-auto p-3 border-right">
      <div class="row">
        <form>
            <input type="text" name="question" placeholder="Ask a Question">
            <button class="create">Save</button>
        </form>

        <form action='/qas'>
          <input type="text"  name="keyword" placeholder="Question">
          <button class="pull right">Search</button>
        </form>

      </div>
      <nav class="nav nav-pills flex-column">

        <%_ for (const qa of qas) { -%>
          <%_ if (qa.answer!=null) { -%>
            <h3><%= qa.question -%></h3>
            <p><%= qa.answer -%></p>
          <%_ } -%>
        <%_ } -%>

        </nav>
      </div>
    </div>





  </div>
