<div>
  <div class="col">
      <div class="row" style="margin-bottom: 10px;">

        <form class="col-md-6">
            <input class="form-control" type="text" id="search"name="question" placeholder="Ask a Question">
            <button class="create btn btn-primary"  [disabled]="#search === ''">Save</button>
            <span class="success" style="display: none;">Question submitted!</span>
        </form>
        <form action='/qas' class="col-md-6">
          <input type="text" class="form-control" name="keyword" value="<%=keyword-%>" placeholder=" search by keyword ">
          <button class=" btn btn-primary" id="searchbtn">Search</button>
          <div id="seachresult">
          </div>

        </form>

      </div>
        <nav class="nav nav-pills flex-column">
          <div class="row">


          <%_ for (const qa of qas) { -%>
            <%_ if (keyword!=null) { -%>
              <h5 >Search Result for keyword : <%=keyword-%></h5>
              <%_ } -%>
            <%_ if (qa.answer!=null) { -%>
                <div class="col-sm-6">
                  <div class="card">
                    <h5 class="card-title"><%= qa.question -%></h5>
                    <p class="card-text"><%= qa.answer -%></p>
                  </div>
                </div>
              <%_ } -%>
        <%_ } -%>

        </nav>
  </div>





  </div>
