<%_ for (const qa of qas) { -%>
<form id="<%= qa.id -%>">
    <input type="text" name="question" placeholder="Question" value="<%= qa.question -%>" class="form-control-lg font-weight-bold mb-1">
    <textarea name="answer" placeholder="Answer" rows="3" class="form-control mb-1"><%= qa.answer -%></textarea>
  <button class="btn btn-primary update">Save</button>
  <button class="delete btn btn-primary">Delete</button>
</form>
<%_ } -%>
<button id="insert" class="btn btn-primary create">Add</button>
