<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>

    <main>
      <%_ if (admin) { -%>
        <%- include('./edit', {qas:qas.question,qas:qas.answer},); -%>
      <%_ } else { -%>
        <%- include('./browse', {qas: qas.question,qas:qas.answer}); -%>
      <%_ } -%>
      </main>

  </body>
</html>
