<!DOCTYPE html>
<html>
<%- include('../head'); -%>
<body>
  <%- include('../navbar', {active: 'qas'}); -%>
  <div class="container-fluid">
    <div class="col">
      <main class="p-3">
        <%_ for (let i = 0; i < qas.length; i++) { -%>
          <h2><%= qa[i].question -%></h2>
          <p><%= qa[i].answer -%></p>
          <%_ } -%>
        </main>
      </div>
    </div>
  </div>
</body>
</html>
