<!DOCTYPE html>
<html>
  <%- include('../head'); -%>
  <body>
    <%- include('../navbar', {active: 'qas'}); -%>
    <main>
      <%_ if (admin) { -%>
        <%- include('./edit', {qa:qa,qaID:qaID},); -%>
      <%_ } else { -%>
        <%- include('./browse', {qa: qa}); -%>
      <%_ } -%>
    </main>
  </body>
</html>
