<main class="p-3">
  <h2><%= statistic.county -%></h2>
  <table id="display" class="table">
    <thead>
      <tr>
        <th scope="col">
          <button id="sort" class="btn btn-primary" name="button">Date</button></th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><%= statisitc.date -%></th>
          <td><%= statisitc.confirmed -%></td>
          <td><%= statisitc.death -%></td>
        </tr>
    </tbody>
  </table>
</main>
