<main class="p-3">

  <table id="display" class="table">
    <input id="filter" type="text" placeholder="Search..">
    <thead>
      <tr>
        <th scope="col">County</th>
        <th scope="col">
          <button id="sort" class="btn btn-primary" name="button">Date</button>
        </th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody id="statistics">
      <%_ for (const statistic of statistics) { -%>
        <tr>
          <th scope="row"><%= statistic.county -%></th>
          <%_ const current_date = statistic.date -%>
          <%_ const formatted_date = current_date.getMonth() + "-" + (current_date.getDate() + 1) + "-" + current_date.getFullYear() -%>
          <td><%= formatted_date -%></td>
          <td><%= statistic.confirmed -%></td>
          <td><%= statistic.death -%></td>
        </tr>
      <%_ } -%>
    </tbody>
  </table>
</main>
