<main class="p-3">
  <h2><%= statistic.county -%></h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
      <%_ for (const s of statistics) { -%>
        <%_ if (s.county === statistic.county) { -%>
        <tr>
          <th scope="row"><%= s.date -%></th>
          <td><%= s.confirmed -%></td>
          <td><%= s.death -%></td>
        </tr>
        <%_ } -%>
      <%_ } -%>
    </tbody>
  </table>
</main>
<button id="insert" class="btn btn-sm btn-primary m-1">New statistic</button>
