<main class="p-3">
  <h2><%= statistic.county -%></h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th class="col">Confirmed</th>
        <th class="col">Death</th>
      </tr>
    </thead>
    <tbody>
      <%_ for (let i = 0; i < statistic.day.length; i++) { -%>
        <tr>
          <td scope="row"><%= statistic.day[i] -%></td>
        </tr>
        <tr>
          <td scope="row"><%= statistic.confirmed[i] -%></td>
        </tr>
        <tr>
          <td scope="row"><%= statistic.death[i] -%></td>
        </tr>
      <%_ } -%>
    </tbody>
  </table>
</main>
<button id="insert" class="btn btn-sm btn-primary m-1">New statistic</button>
