<main class="p-3">
  <h2><%= statistic.county -%></h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <button id="sort" class="btn btn-primary" name="button">Date</button></th>
        <th scope="col">Confirmed</th>
        <th scope="col">Death</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row"><%= statistic.date -%></th>
          <td><%= statistic.confirmed -%></td>
          <td><%= statistic.death -%></td>
        </tr>
    </tbody>
  </table>
</main>
<button id="insert" class="btn btn-sm btn-primary m-1">New statistic</button>
