<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
<%_ if (admin) { -%>
  // Highlight changes in form inputs
  $(document).on('input', '.form-control', function(event) {
    $(this).addClass('bg-dark text-white');
  });

  // Insert a form
  $(document).on('click','#insert',function(event) {
    $(this).before($(`
    <form id="<%= statistic.id -%>">
      <table class="table">
        <tbody>
          <tr>
            <th><input type="text" class="form-cntrol date" scope="row" value="<%= statistic.day[statistic.day.length - 1] -%>" name="day"></th>
            <td><input type="text" class="form-cntrol confirmed" value="<%= statistic.confirmed[statistic.day.length - 1] -%>" name="confirmed"></td>
            <td><input type="text" class="form-cntrol death" value="<%= statistic.death[statistic.day.length - 1] -%>" name="death"></td>
          </tr>
        </tbody>
      </table>
      <button class="create btn btn-sm btn-primary m-1">Save</button>
      <button class="uninsert btn btn-sm btn-primary m-1">Delete</button>
    </form>
    `));
  });

  // Un-insert a form
  $(document).on('click', '.uninsert', function(event) {
    $(this).closest('form').remove();
    event.preventDefault();
  });

  // Create a new statistic
  // Does not work properly!
  $(document).on('click', '.create', function(event) {
    const form = $(this).closest('form');
    event.preventDefault();
    $.ajax({method: 'put', url: `/statistics/${form.attr('id')}`, data: form.serialize()})
      .fail(error => alert(error.responseText));
  });

<%_ } else { -%>

  $(document).on('click', '#sort', function(event) {
  var table, rows, switching, i, x, y, shouldSwitch;
  table = document.getElementById("display");
  switching = true;
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[0];
      y = rows[i + 1].getElementsByTagName("TD")[0];
      //check if the two rows should switch place:
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
    }
}
  });

<%_ } -%>
</script>
