<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  // Highlight changes in form inputs
  $(document).on('input', '.form-control', function(event) {
    $(this).addClass('bg-dark text-white');
  });

  // Insert a form
  $(document).on('click','#insert',function(event) {
		$(this).before($(`
      <form id="<%= statistic.id -%>">
        <tbody>
            <tr>
              <td><input type="text" value="<%= statistic.day[statistic.day.length - 1] -%>" name="date"></td>
              <td><input type="text" value="<%= statistic.confirmed[statistic.day.length - 1] -%>" name="confirmed"></td>
              <td><input type="text" value="<%= statistic.death[statistic.day.length - 1] -%>" name="death"</td>
            </tr>
        </tbody>
            <button class="create btn btn-sm btn-primary m-1">Save</button>
            <button class="uninsert btn btn-sm btn-primary m-1">Delete</button>
      </form>
		`));
  });

  // Un-insert a form
  $(document).on('click', '.uninsert', function(event) {
    $(this).closest('form').remove();
    event.preventDefault();
  });

  // Create a section
 $(document).on('click', '.create', function(event) {
   const form = $(this).closest('form');
   event.preventDefault();
   $.ajax({method: 'post', url: `/statistics/${form.attr('id')}`, data: form.serialize()})
     .done(function(id) {
       form.attr('id', id);
       form.find('.create').removeClass('create');
       form.find('.uninsert').removeClass('uninsert');
     })
     .fail(error => alert(error.responseText));
 });
/*
  // Update a course
  $(document).on('click', '.create', function(event) {
    const form = $(this);
    event.preventDefault();
    $.ajax({method: 'put', url: `/statistics/${form.attr('id')}`, data: form.serialize()})
    .fail(error => alert(error.responseText));
  });
*/
</script>
